{% extends 'base.html' %}
{% block more_static %}
{% load staticfiles %}
<link href="{% static 'vendors/datatables.net-bs/css/dataTables.bootstrap.min.css' %}" rel="stylesheet">
<link href="{% static 'vendors/datatables.net-buttons-bs/css/buttons.bootstrap.min.css' %}" rel="stylesheet">
<link href="{% static 'vendors/datatables.net-fixedheader-bs/css/fixedHeader.bootstrap.min.css' %}" rel="stylesheet">
<link href="{% static 'vendors/datatables.net-responsive-bs/css/responsive.bootstrap.min.css' %}" rel="stylesheet">
<link href="{% static 'vendors/datatables.net-scroller-bs/css/scroller.bootstrap.min.css' %}" rel="stylesheet">
{% endblock %}
{% block body %}
<div class="right_col" role="main">
  <div class="">
    <div class="page-title">
      <div class="title_left">
        <h3>Filter ID: {{ filter.filter_id }}</h3>
      </div>
      <div class="title_right">
        <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Search for...">
            <span class="input-group-btn">
              <button class="btn btn-default" type="button">Go!</button>
            </span>
          </div>
        </div>
      </div>
    </div>
      <div class="col-md-6 col-sm-6 col-xs-12">
        <div class="x_panel">
          <div class="x_title">
            <h2><i class="fa fa-bars"></i> Add Indicators </h2>
            <ul class="nav navbar-right panel_toolbox">
              <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
              </li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                <ul class="dropdown-menu" role="menu">
                  <li><a href="#">Settings 1</a>
                  </li>
                  <li><a href="#">Settings 2</a>
                  </li>
                </ul>
              </li>
              <li><a class="close-link"><i class="fa fa-close"></i></a>
              </li>
            </ul>
            <div class="clearfix"></div>
          </div>
          <div class="x_content">

            <div class="col-xs-4">
              <!-- required for floating -->
              <!-- Nav tabs -->
              <ul class="nav nav-tabs tabs-left">
                <li class="active"><a href="#fundamental" data-toggle="tab">Fundamental</a>
                </li>
                <li><a href="#ratios" data-toggle="tab">Ratios</a>
                </li>
                <li><a href="#price" data-toggle="tab">Price</a>
                </li>
                <li><a href="#technical" data-toggle="tab">Technical</a>
                </li>
              </ul>
            </div>

            <div class="col-xs-8">
              <!-- Tab panes -->
              <div class="tab-content">
                <div class="tab-pane active" id="fundamental" style="overflow:auto; height:200px">
                  <!-- TO DO -->
                  <ul class="to_do">
                      {% for parameter in parameters %}
                        {% if parameter.type == 'fundamental' %}
                      <li><p><a class="param_create" href="">{{ parameter.name }}</a></p></li>
                        {% endif %}
                      {% endfor %}
                    </ul>
                </div>
                <div class="tab-pane" id="ratios" style="overflow:auto; height:200px">
                  <ul class="to_do">
                    {% for parameter in parameters %}
                      {% if parameter.type == 'ratios' %}
                    <li><p><a class="param_create" href="">{{ parameter.name }}</a></p></li>
                      {% endif %}
                    {% endfor %}
                  </ul>
                </div>
                <div class="tab-pane" id="price" style="overflow:auto; height:200px">
                  <ul class="to_do">
                    {% for parameter in parameters %}
                      {% if parameter.type == 'price' %}
                    <li><p><a class="param_create" href="">{{ parameter.name }}</a></p></li>
                      {% endif %}
                    {% endfor %}
                  </ul>
                </div>
                <div class="tab-pane" id="technical" style="overflow:auto; height:200px">
                  <ul class="to_do">
                    {% for parameter in parameters %}
                      {% if parameter.type == 'technical' %}
                    <li><p><a class="param_create" href="">{{ parameter.name }}</a></p></li>
                      {% endif %}
                    {% endfor %}
                  </ul>
                </div>
              </div>
            </div>

            <div class="clearfix"></div>

          </div>
        </div>
      </div>

      <div class="col-md-6 col-sm-6 col-xs-12">
        <div class="x_panel">
          <div class="x_title">
            <h2>Basic Tables <small>basic table subtitle</small></h2>
            <ul class="nav navbar-right panel_toolbox">
              <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
              </li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                <ul class="dropdown-menu" role="menu">
                  <li><a href="#">Settings 1</a>
                  </li>
                  <li><a href="#">Settings 2</a>
                  </li>
                </ul>
              </li>
              <li><a class="close-link"><i class="fa fa-close"></i></a>
              </li>
            </ul>
            <div class="clearfix"></div>
          </div>
          <div class="x_content" style="height:166px; overflow: auto">

            <table class="table">
              <thead>
                <tr>
                  <th style="text-align: center">Parameter</th>
                  <th style="text-align: center">Operator</th>
                  <th style="text-align: center">Value</th>
                  <th style="text-align: center"></th>
                </tr>
              </thead>
              <tbody>
                {% csrf_token %}
                {% for param in param_list %}
                <tr class="param">
                  <td>{{ param.param_name }}</td>
                  <td style="width:50px">
                    <select param_id = '{{ param.param_id }}' class="param_operator form-control" style="font-size:10px; height:20px;">
                      {% if brand.name in selected_brand_list %} checked {% endif %}
                      <option {% if param.operator == 'gt' %} selected {% endif %}>></option>
                      <option {% if param.operator == 'gte' %} selected {% endif %}>>=</option>
                      <option {% if param.operator == 'lt' %} selected {% endif %}><</option>
                      <option {% if param.operator == 'lte' %} selected {% endif %}><=</option>
                      <option {% if param.operator == 'eq' %} selected {% endif %}>=</option>
                    </select>
                  </td>
                  <td style="width:80px">
                    <input param_id = '{{ param.param_id }}' type="number" id="fullname" class="param_value form-control" style="height:20px; font-size:10px" name="fullname" required="" value="{{ param.value }}">
                  </td>

                  <td style="width:20px">
                    <a class="param_delete" param_id="{{ param.param_id }}" href=""><i class="fa fa-close"></i></a>
                  </td>
                </tr>
                {% endfor %}

              </tbody>
            </table>

          </div>
            <a id="param_update" class="btn btn-success" style="float: right">Submit</a>
        </div>
      </div>
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
          <div class="x_title">
            <h2>Button Example <small>Users</small></h2>
            <ul class="nav navbar-right panel_toolbox">
              <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
              </li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                <ul class="dropdown-menu" role="menu">
                  <li><a href="#">Settings 1</a>
                  </li>
                  <li><a href="#">Settings 2</a>
                  </li>
                </ul>
              </li>
              <li><a class="close-link"><i class="fa fa-close"></i></a>
              </li>
            </ul>
            <div class="clearfix"></div>
          </div>
          <div class="x_content">
            <p class="text-muted font-13 m-b-30">
              The Buttons extension for DataTables provides a common set of options, API methods and styling to display buttons on a page that will interact with a DataTable. The core library provides the based framework upon which plug-ins can built.
            </p>
            <table id="datatable-buttons" class="table table-striped table-bordered">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Name</th>
                  <th>Board lot</th>
                  <th>Industry</th>
                  <th>Sector</th>
                  <th>Salary</th>
                </tr>
              </thead>


              <tbody>
              {% for stock in stock_list %}
                <tr>
                  <td>{{ stock.stock_id }}</td>
                  <td>{{ stock.name }}</td>
                  <td>{{ stock.board_lot }}</td>
                  <td>{{ stock.industry }}</td>
                  <td>{{ stock.sector }}</td>
                  <td>$320,800</td>
                </tr>
              {% endfor %}

              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <div class="clearfix"></div>

  </div>
  <div class="clearfix"></div>
</div>
{% endblock %}

{% block more_js %}
{% load staticfiles %}
<script src="{% static 'vendors/datatables.net/js/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'vendors/datatables.net-bs/js/dataTables.bootstrap.min.js' %}"></script>
<script src="{% static 'vendors/datatables.net-buttons/js/dataTables.buttons.min.js' %}"></script>
<script src="{% static 'vendors/datatables.net-buttons-bs/js/buttons.bootstrap.min.js' %}"></script>
<script src="{% static 'vendors/datatables.net-buttons/js/buttons.flash.min.js' %}"></script>
<script src="{% static 'vendors/datatables.net-buttons/js/buttons.html5.min.js' %}"></script>
<script src="{% static 'vendors/datatables.net-buttons/js/buttons.print.min.js' %}"></script>
<script src="{% static 'vendors/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js' %}"></script>
<script src="{% static 'vendors/datatables.net-keytable/js/dataTables.keyTable.min.js' %}"></script>
<script src="{% static 'vendors/datatables.net-responsive/js/dataTables.responsive.min.js' %}"></script>
<script src="{% static 'vendors/datatables.net-responsive-bs/js/responsive.bootstrap.js' %}"></script>
<script src="{% static 'vendors/datatables.net-scroller/js/dataTables.scroller.min.js' %}"></script>
<script src="{% static 'vendors/jszip/dist/jszip.min.js' %}"></script>
<script src="{% static 'vendors/pdfmake/build/pdfmake.min.js' %}"></script>
<script src="{% static 'vendors/pdfmake/build/vfs_fonts.js' %}"></script>
<script>
$('.param_create').click(function () {
  var filter_id = {{ filter.filter_id }}, param_name = $(this).text();
  console.log(filter_id);
  console.log(param_name);
    $.ajax({
        url: "/filter/createparam/",
        type: "POST",
        data: {
            "filter_id": filter_id,
            "param_name": param_name,
            csrfmiddlewaretoken: $("input[name=csrfmiddlewaretoken").val(),
        },
        success: function(data){
             window.location.assign('');
        }
    });
});

// Update Parameters
$('#param_update').click(function () {
  var param_operators = {}, param_values = {};
    $( ".param_operator" ).each(function() {
        param_operators[$(this).attr('param_id')] = $(this).val();
    });
    $( ".param_value" ).each(function() {
        param_values[$(this).attr('param_id')] = $(this).val();
    });
    console.log(param_operators);
    console.log(param_values);
    $.ajax({
        url: "/filter/updateparam/",
        type: "POST",
        data: {
            "param_operators": JSON.stringify(param_operators),
            "param_values": JSON.stringify(param_values),
            csrfmiddlewaretoken: $("input[name=csrfmiddlewaretoken").val(),
        },
        success: function(data){
             window.location.assign('');
        }
    });
});

$('.param_delete').click(function () {
  var param_id = $(this).attr('param_id');
  console.log(param_id);
  $.ajax({
      url: "/filter/deleteparam/",
      type: "POST",
      data: {
          "param_id": param_id,
          csrfmiddlewaretoken: $("input[name=csrfmiddlewaretoken").val(),
      },
      success: function(data){
           window.location.assign('');
      }
  });
});
</script>
{% endblock %}