{% extends 'base.html' %}

{% block body %}
{% csrf_token %}
<style>
  .tile_count .tile_stats_count:before {
    height:120px;
  }
</style>
        <!-- page content -->
        <div class="right_col" role="main">
          <!-- top tiles -->
          <div class="row tile_count">
            {% for index in indices %}
            <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
              <span class="count_top">{{ index.index }}   <small style="float: right">{{ index.date }}</small></span>
              <div class="count" style="font-size:32px">{{ index.value }}</div>
              <span class="count_bottom">
                {% if '-' in index.change %}
                <i class="red">{{ index.net_change }} (<i class="fa fa-sort-desc"></i>
                {% elif '+' in index.change %}
                <i class="green">{{ index.net_change }} (<i class="fa fa-sort-asc"></i>
                {% else %}
                {{ index.net_change }} (
                {% endif %}
                {{ index.change }}) </i>
              </span> <br>
              <span>1 month: {{ index.1_month }}</span> <br>
              <span>1 year: {{ index.1_year }}</span>
            </div>
            {% endfor %}
          </div>
          <!-- /top tiles -->

          <div class="row">


            <div class="col-md-6 col-sm-6 col-xs-12">
              <div class="x_panel tile">
                <div class="x_title">
                  <h2>Hang Seng Index</h2>
                  <ul class="nav navbar-right panel_toolbox">
                    <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                    </li>
                    <li class="dropdown">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                      <ul class="dropdown-menu" role="menu">
                        <li><a href="#">Settings 1</a>
                        </li>
                        <li><a href="#">Settings 2</a>
                        </li>
                      </ul>
                    </li>
                    <li><a class="close-link"><i class="fa fa-close"></i></a>
                    </li>
                  </ul>
                  <div class="clearfix"></div>
                </div>
                <div class="x_content">
                  <div>
                  <img src="http://charts.aastocks.com/servlet/Charts?fontsize=12&15MinDelay=T&lang=1&titlestyle=1&vol=1&Indicator=1&indpara1=10&indpara2=20&indpara3=50&indpara4=100&indpara5=150&scheme=1&com=100&chartwidth=572&chartheight=480&stockid=110000.HK&period=9&type=1&indicator3=10&ind3para1=29588&ind3para2=27268&logoStyle=1&" style="width:100%"/>
                    <div class="clearfix"></div>
                </div>
              </div>
              </div>
            </div>

            <!-- Dow Jones -->
            <div class="col-md-6 col-sm-6 col-xs-12">
              <div class="x_panel tile">
                <div class="x_title">
                  <h2>Dow Jones</h2>
                  <ul class="nav navbar-right panel_toolbox">
                    <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                    </li>
                    <li class="dropdown">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                      <ul class="dropdown-menu" role="menu">
                        <li><a href="#">Settings 1</a>
                        </li>
                        <li><a href="#">Settings 2</a>
                        </li>
                      </ul>
                    </li>
                    <li><a class="close-link"><i class="fa fa-close"></i></a>
                    </li>
                  </ul>
                  <div class="clearfix"></div>
                </div>
                <div class="x_content">
                  <div>
                  <img src="http://charts.aastocks.com/servlet/Charts?fontsize=12&15MinDelay=T&lang=1&titlestyle=1&vol=1&Indicator=1&indpara1=10&indpara2=20&indpara3=50&indpara4=100&indpara5=150&scheme=1&com=100&chartwidth=673&chartheight=480&stockid=111000.HK&period=13&type=1&logoStyle=1&" style="width:100%"/>
                    <div class="clearfix"></div>
                </div>
              </div>
              </div>
            </div>

            <!-- NIKKEI -->
            <div class="col-md-6 col-sm-6 col-xs-12">
              <div class="x_panel tile">
                <div class="x_title">
                  <h2>NIKKEI</h2>
                  <ul class="nav navbar-right panel_toolbox">
                    <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                    </li>
                    <li class="dropdown">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                      <ul class="dropdown-menu" role="menu">
                        <li><a href="#">Settings 1</a>
                        </li>
                        <li><a href="#">Settings 2</a>
                        </li>
                      </ul>
                    </li>
                    <li><a class="close-link"><i class="fa fa-close"></i></a>
                    </li>
                  </ul>
                  <div class="clearfix"></div>
                </div>
                <div class="x_content">
                  <div>
                  <img src="https://finance.google.com/finance/getchart?q=NI225&x=INDEXNIKKEI&p=1Y&i=86400&ei=y4QQWunFFcKc0ASPloagBw" style="width:100%"/>
                    <div class="clearfix"></div>
                </div>
              </div>
              </div>
            </div>


        <!-- /page content -->

        <!-- footer content -->
        <footer>
          <div class="pull-right">

          </div>
          <div class="clearfix"></div>
        </footer>
        <!-- /footer content -->
{% endblock %}
